.square {
    width: 31%;
    height: 31%;
    margin: 5px;
    background-color: lightgrey;
}
.square:hover {
    background-color: white;
}

p {
    font-size: 100px;
    text-align: center;
    margin: 0px;
}